body{
	color: white;
	background-image: url(pictures/o6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.text{       /*for introduction*/
	color:white;
	font-size:40px;
	font-family:cursive;
	text-shadow: 2px 2px red;
	padding-top: 45px;
	margin-left: 50px;

}
.fext{               /*div for tagline*/
	color:white;
	font-size:20px;
	font-family:cursive;
	margin-left:50px;
	margin-top:45px;
	background-color:black;
	height:180px;
	width:150px;
}
.fext:hover{          /*div for hovering of tagline*/
	width:300px;
	transition: 5s;
}
nav{
	height:50px;
	text-align: right;
	font-size:30px;
	
}	
.one{            /* for menu*/
	color: white;
	padding-right:20px;
	text-decoration: none;
	
} 
.one:hover{        /* menu hover*/
	background-color:skyblue;
	color:black;
}
.skills{         /* Title of portfolio*/
	height:50px;
	font-size: 40px;
	margin-left: 40px;
	text-shadow: 1px 1px red;
}
.later{              /*class of placeholder images */
	height:220px;
	width:300px;
}


.bater{        /* div for images of portfolio*/
	
	display: grid;
	grid-row-gap: 50px;
	grid-column-gap:10px;
	grid-template-columns: auto auto;
	padding: 10px;
}

.title{            /* For topic contact menu*/
	font-size: 40px;
	text-shadow: 2px 2px red;
	margin-left: 60px;
}
.continfo{          /*for subtitles of contact page*/
	/*height: 600px;
	width: 600px;*/
	/*margin-top:100px;*/
	margin-left:30px;
	margin-top:8px;
	font-size: 25px;	
}	
.pan{               /*for inupt of contact.html*/
	width:300px;
	height:25px;
	margin-left: 5px;
}
.w:hover{      /* hover on submit in contact*/
	background-color:skyblue;
}
.photo{            /* picture for cv*/
	
	height:590px;
	float:left;
}    
.two{               /*topic of profile*/
	font-size: 35px;
	text-shadow: 1px 1px red;
	margin-left: 320px;
}	
.three{            /*for input in profile*/
	font-size: 20px;
	margin-left: 320px;

}
.four{            /* for education*/
	font-size: 35px;
	text-shadow: 1px 1px red;
	margin-left: 320px;
	
}
.five{             /* for input in education*/
	font-size: 20px;
	margin-left: 320px;
	
	
}
.six{              /* topic of skills*/
	font-size: 35px;
	text-shadow: 1px 1px red;
	
}
.seven{            /* for input in skills*/
	font-size: 20px;
}

.nine{		 /*For language*/ 
	font-size: 35px;
	text-shadow: 1px 1px red;
}

.ten{              /*for input in language*/
	font-size: 20px;
}

.eleven{          /*for hobbies*/
	font-size: 35px;
	text-shadow: 1px 1px red;
}

.twelve{          /*for input in hobbies*/
	font-size: 20px;
}

.report{          /* for report writing*/
	font-size: 50px;
	text-shadow: 1px 1px red;
	margin-left: 30px;
}
.site{              /*inside report*/
     font-size: 25px;
     margin-left: 30px;
}

.fie1{            /* fieldset of skills*/
	margin-top: 15px;
	width:250px;
}
.fie2{               /*fieldset of language*/
	width:250px;
	
}
.fie3{              /*fieldset of hobbies*/
	width:250px;
	margin-top: -250px;
}
.last{              /*common class for skills,language and hobbies*/
	display: grid;
	grid-template-columns: auto auto auto;
	width:max-content;
	column-gap:75px;

}
.bipan{                /* for checkbox*/
      opacity: 0%;
}
.check{                /* screenshot of validation*/
       margin-left:26px;
       padding:10px;
}
.valichk{             /* title of validation*/
	font-size:30px;
	margin-left: 26px;
}	
.myprog{             /*  title of progress*/
	font-size: 30px;
	margin-left: 26px;
}
.prog{               /*  screenshot of progress*/
     padding: 10px;
     width:1000px;
     margin-left:26px;
}
.proin{               /* inside of progress*/
	font-size: 25px;
	margin-left: 26px;
}
.obj{                 /*title of objective*/
	font-size: 30px;
	margin-left: 26px;
}
.lis{                 /*points of objective*/
	font-size: 25px;
	margin-left: 26px;
}
.exp{                 /* title of experience*/
	font-size: 30px;
	margin-left: 26px;
}
.jour{               /* title of journal*/
    font-size: 30px;
    margin-left: 26px;
}
.datt{             /* points of journal*/
	font-size: 25px;
	margin-left: 26px;
}
.goodcv{           /*referenve of cv topic*/
	font-size: 30px;
	margin-left: 26px;
}
.goodin{          /* inside of reference*/
	font-size: 25px;
	margin-left: 26px;
}

   /* for responsive view*/


@media screen and (max-width:800px){
	body{                           /* body of responsive view*/
	background-color:black;
	/*background-image: url(image/w1.jpg);*/
	background-size: cover;
}
.bipan:checked~.bipana{               /*for checkbox*/
	transform:none;
	width:10%;
	transition-duration:2s;
}
.one{                                /* menu */
	width:10%;
	color:white;
	display: block;
	font-size: 20px;
}
.bipa{                              /* div for creating hamburger*/
	height:3px;
	width:18px;
	background-color: white;
	margin:6px;
}
.bipan{                               /*for  position of checkbox*/
	float: left;
	position:relative;
	top:-26px;
	
}
.bipana{                              /* seperate class for menu*/
	transform: scale(0);
	transform-origin: 20% 0px;
}
.later{             /* class of placeholder images */
	height:220px;
	width:300px;

}

.bater{        /* div for images of portfolio*/
	
	display: grid;
	grid-template-columns: auto;
	/*grid-row-gap: 50px;
	grid-column-gap:10px;
	grid-template-columns: auto auto;
	padding: 10px;*/
}
     /* for cv in responsive view started*/
.two{
	font-size: 25px;
	clear: both;
	margin-left:5px;
}
.three{
	font-size: 18px;
	margin-left:5px;
}
.four{
	font-size: 25px;
	margin-left:5px;
}
.five{
	font-size: 18px;
	margin-left:5px;
}
.six{
	font-size: 25px;
	margin-left:5px;
}
.seven{
	clear: both;
	font-size: 25px;
	/*margin-left: 15px;*/
}
.last{
     display: grid;
     grid-template-columns: auto;
     margin-bottom:5px;
}
.fie3{
	margin-top: 0;
}
.photo{
	height:750px;
	float: right;

}
      /*cv part completes here*/

.check{          /*screenshot of validation*/
	height:300px;
	width:400px;
}
.prog{          /* screenshot of progress*/
    height: 350px;
    width: 500px;
}      
}	
